body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(89, 165, 184);
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }

h1 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: 600;
    margin-top: 0;
  }


#header{
background-color: rgb(89, 165, 184, .5);
box-sizing: border-box;
border-style: none none solid none;
border-width: thin;
margin: auto;

  }

#container {
    width: 100vw;
    height: 100vh;
    /* Aligns the children items in a row direction */
    display: flex;
}

#content{
    width: 60%;
    height: fit-content;
    background-color: rgba(128, 129, 129, 0.8);
    border-radius: 25px;
    margin-left: 2%;
    margin-top: 5%;
}

#event{
    width: 30%;
    height: fit-content;
    background-color: rgba(128, 129, 129, 0.8);
    border-radius: 25px;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
}

#clear {
    clear: both;
}

.contp{
    margin-left: 40px;
    margin-right: 40px;
    font-family: sans-serif;
    font-size: 1vw;
    font-weight: 600;
}

.eventp{
float: right;
font-family: sans-serif;
font-size: 1vw;
font-weight: 600;
margin-left: 5px;
margin-right: 5px;
width: 40%;
}

h2, h3{
    margin-left: 20px;
}